.App {
  text-align: center;
  padding: 2rem;
  font-family: 'Arial';
  background: #f5f9fa;
}

input {
  padding: 0.5rem;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 0.5rem 1rem;
}

.card {
  margin-top: 2rem;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
